'atom-workspace atom-text-editor:not([mini])':
  'ctrl-7': 'editor:toggle-line-comments'
  'ctrl-d': 'editor:select-word'
'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'shift-enter': 'terminal-panel:toggle'
